<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head', { title: pageTitle }) %>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Real Time Stock Updates</h1>
    <div class="stocksContainer">
      <% stocks.forEach(stock => { %>
      <div class="stockContainer" id="<%= stock.ticker %>">
        <h3><a href="/stocks/<%= stock.ticker %>"><%= stock.name %></a></h3>
        <ul class="prices"></ul>
      </div>
      <% }) %>
      <!-- <div class="stockContainer" id="DJIA">
        <h3><a>Dow Jones Industrial Average</a></h3>
        <ul class="prices"></ul>
      </div>
      <div class="stockContainer" id="SPX">
        <h3><a>S&P 500 Index</a></h3>
        <ul class="prices"></ul>
      </div> -->
    </div>
    <button class="btn btn-success">Connect</button>
    <button class="btn btn-danger">Disconnect</button>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="scripts/stocks.js"></script>
  </body>
</html>
