<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head', { title: pageTitle }) %>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Real Time Stock Updates</h1>
    <div class="stocksContainer">
      <div class="stockContainer" id="NDAQ">
        <h3>Nasdaq</h3>
        <ul class="prices"></ul>
      </div>
      <div class="stockContainer" id="DJIA">
        <h3>Dow Jones Industrial Average</h3>
        <ul class="prices"></ul>
      </div>
      <div class="stockContainer" id="SPX">
        <h3>S&P 500 Index</h3>
        <ul class="prices"></ul>
      </div>
    </div>
    <button class="btn btn-success">Connect</button>
    <button class="btn btn-danger">Disconnect</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var connected = true;

      socket.on("price_update", (data) => {
        const { stocks, time } = data;

        for (let i = 0; i < stocks.length; i++) {
          const { price, ticker } = stocks[i];

          const li = document.createElement("li");
          li.className = "stock-price";
          li.innerHTML = `At ${time}: <span class='stock-value'>$${price}</span>`;

          const ul = document.querySelector(
            `.stockContainer#${ticker} .prices`
          );
          ul.appendChild(li);
        }
      });

      const connectButton = document.querySelector(".btn-success");
      const disconnectButton = document.querySelector(".btn-danger");

      connectButton.setAttribute("disabled", "true");
      connectButton.classList.add("disabled");

      disconnectButton.addEventListener("click", () => {
        socket.disconnect();
        connected = false;
        disconnectButton.setAttribute("disabled", "true");
        disconnectButton.classList.add("disabled");
        connectButton.removeAttribute("disabled");
        connectButton.classList.remove("disabled");
      });
      connectButton.addEventListener("click", () => {
        socket.connect();
        connected = true;
        disconnectButton.removeAttribute("disabled", "false");
        disconnectButton.classList.remove("disabled");
        connectButton.setAttribute("disabled", "true");
        connectButton.classList.add("disabled");
      });
    </script>
  </body>
</html>
