.stocksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stockContainer {
  padding-right: 15px;
  margin-right: 5px;
  border-right: 1px solid gray;
  width: 431px;
  height: 75vh;
  margin-bottom: 20px;
  overflow: auto;
}

.stockContainer::-webkit-scrollbar {
  width: 10px;
}

.stockContainer::-webkit-scrollbar-thumb {
  background-color: #888;
}

.stock-price {
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #eee;
  border: 1px solid #000;
}

.stock-value {
  font-weight: bold;
}

.btn {
  background-color: #171795;
  padding: 10px;
  border: 1px solid #171795;
  border-radius: 8px;
  color: #fff;
}

.btn-danger {
  background-color: #c44545;
  border: 1px solid #c44545;
}

.btn-success {
  background-color: #41e259;
  border: 1px solid #41e259;
}

.btn.disabled {
  background-color: #eee;
  border-color: #eee;
  color: #898686;
}
